<div class="container mt-4">
  <div class="row">

    <!-- COMMENT FORM (LEFT) -->
    @if(showTicketForm){
      <div class="col-md-5 mb-4">
        <div class="card p-5 shadow-lg text-white border border-light rounded-4"
            style="background-color: rgba(0, 0, 0, 0.3);">

          <h2 class="text-glow">Comment Form</h2>

          <button class="btn btn-secondary mb-3 glow-btn w-100"
                  (click)="newComment()">New</button>

          <!-- Comment ID -->
          <div class="mb-3">
            <label>Comment ID</label>
            <input type="text"
                  class="form-control galaxy-input"
                  [(ngModel)]="ticketComment.commentId">
          </div>

          <!-- Ticket ID -->
          <div class="mb-3">
            <label>Ticket</label>
            <div class="d-flex gap-2">
              <select class="form-select galaxy-input" [(ngModel)]="ticketComment.ticketId" name="ticketId" (ngModelChange)="onChange($event,false)">
                <option value="">-- Select Ticket --</option>
                <option *ngFor="let e of tickets" [value]="e.ticketId">{{ e.ticketId }} </option>
              </select>
            </div>
          </div>

          <!-- Comment -->
          <div class="mb-3">
            <label>Comment</label>
            <textarea class="form-control galaxy-input"
                      rows="3"
                      [(ngModel)]="ticketComment.commentText"></textarea>
          </div>

          <!-- Action Buttons -->
          <div class="mt-3 d-flex gap-2 flex-wrap">
            <button class="btn btn-success glow-btn"
                    (click)="saveComment()">Add</button>
            <button class="btn btn-warning glow-btn"
                    (click)="updateComment(ticketComment,ticketComment.commentId)">Update</button>
            <button class="btn btn-danger glow-btn"
                    (click)="deleteComment(ticketComment.commentId)">Delete</button>
            <button class="btn btn-danger glow-btn"
                    (click)="OnCancelAddComment()">Cancel</button>
          </div>

          <p class="text-danger mt-2 fw-bold fs-4">{{ errMsg }}</p>
        </div>
      </div>
  }

    <!-- COMMENT LIST (RIGHT) -->
    <div class="col-md-7 mb-4">
      <div class="card galaxy-card p-4">
        <h2 class="text-glow">Comments from my tickets</h2>

        <div class="table-responsive galaxy-table-wrapper">
              @for (c of myticketComments; track c.commentId) {
                @if ( curUser !== null && curUser === c.empId) {
                  <div style="background-color: bisque;" class="text-end">
                    <div>
                        <span class="fs-6"> {{c.commentId}} </span>
                        <span class="fs-6"> {{c.empId}} </span>
                        <span class="fs-6"> {{c.ticketId}} </span>
                        <span class="fs-6"> {{c.commentDate | date:'HH:mm'}} </span>
                        <p class="fs-5">{{c.commentText}}</p>
                    </div>
                  
                  </div>
                }
                @else{
                  <div style="background-color: bisque;" class="text-start">
                    <div>
                        <span class="fs-6"> {{c.commentId}} </span>
                        <span class="fs-6"> {{c.empId}} </span>
                        <span class="fs-6"> {{c.ticketId}} </span>
                        <span class="fs-6"> {{c.commentDate | date:'HH:mm'}} </span>
                        <p class="fs-5">{{c.commentText}}</p>
                    </div>
                  
                  </div>
                }
              }
              @empty {
                <div style="background-color: bisque;" class="text-start">
                    <div>
                        <p class="fs-5">No Comments Found</p>
                    </div>
                  
                  </div>
              }
              
        </div>

      <div class="row">
        <div class="col-6">
            <button class="btn btn-success glow-btn" (click)="OnShowAddComment()">
                Add Comment for your ticket
            </button>
        </div>

        <div class="col-6">
          <button class="btn btn-success glow-btn" (click)="OnShowReplyComment()">
            Reply for Comment other's comment
          </button>
        </div>
      </div>
        
    </div>
    </div>

    @if (showReplyForm){
    <div class="col-md-5 mb-4">
      <div class="card p-5 shadow-lg text-white border border-light rounded-4"
           style="background-color: rgba(0, 0, 0, 0.3);">

        <h2 class="text-glow">Reply Form</h2>

        <button class="btn btn-secondary mb-3 glow-btn w-100"
                (click)="newComment()">New</button>

        <!-- Comment ID -->
        <div class="mb-3">
          <label>Comment ID</label>
          <input type="text"
                 class="form-control galaxy-input"
                 [(ngModel)]="replyComment.commentId">
        </div>

        <!-- Ticket ID -->
        <div class="mb-3">
          <label>Ticket</label>
          <div class="d-flex gap-2">
            <select class="form-select galaxy-input" [(ngModel)]="replyComment.ticketId" name="ticketId" (ngModelChange)="onChange($event,true)">
              <option value="">-- Select Ticket --</option>
              <option *ngFor="let e of assignedTickets" [value]="e.ticketId">{{ e.ticketId }} </option>
            </select>
            <button class="btn btn-primary glow-btn"
                    (click)="showCommentsByTicket()">Search</button>
          </div>
        </div>
        <!-- Comment -->
        <div class="mb-3">
          <label>Comment</label>
          <textarea class="form-control galaxy-input"
                    rows="3"
                    [(ngModel)]="replyComment.commentText"></textarea>
        </div>

        <!-- Action Buttons -->
        <div class="mt-3 d-flex gap-2 flex-wrap">
          <button class="btn btn-success glow-btn"
                  (click)="replyForAComment()">Add</button>
          <button class="btn btn-warning glow-btn"
                  (click)="updateComment(replyComment,replyComment.commentId)">Update</button>
          <button class="btn btn-danger glow-btn"
                  (click)="deleteComment(replyComment.commentId)">Delete</button>
          <button class="btn btn-danger glow-btn"
                    (click)="OnCancelReplyComment()">Cancel</button>
              </div>

        <p class="text-danger mt-2 fw-bold fs-4">{{ errMsg }}</p>
      </div>
    </div>
  }
  </div>
</div>
